<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recuperaci&oacute;n de credenciales de usuario</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); </style>
</head>
<body style="font-family: 'Open Sans', Verdana, Tahoma, sans-serif; font-size: 1em;">
    <h1>Recuperaci&oacute;n de credenciales</h1>
    <p>
        Muy buenas!! Aqu&iacute; tienes unas credenciales temporales para que puedas acceder a tu cuenta &#128579;
    </p>
    <p>
        Entra en la p&aacute;gina principal a trav&eacute;s de este enlace para reiniciar tu usuario y contrase&ntilde;a:
        <br/><br/>
        <b style="font-size: 1.4em; font-weight: bold"><a
                th:href="@{'http://localhost:8080/api/account/validate?recover-token=' + ${userTempToken}}">Pulsa aqu&iacute; para una nueva contrase&ntilde;a</a></b>
        <br/><br/><br/>
        <span style="font-style: italic; font-weight: bold">¡NOTA IMPORTANTE! Este enlace estar&aacute; disponible por 1 d&iacute;a.</span>
        <br/><br/>
    </p>
    <br /><br />
    <p>
        <img th:src="|cid:${ldcgcLogo}|" style="width:125px;" alt="gc8inventory logo"/>
    </p>
    <p style="font-size: 0.6em" th:text="${copyright}"></p>
    <br/>
    <p style="font-style: italic; font-size: 0.8em">¿A&uacute;n tienes dudas de c&oacute;mo manejamos las cosas en la app? P&aacute;sate por la secci&oacute;n de <a href="https://gc8inventory.es/api/faq" target="_blank">preguntas frecuentes.</a></p>
</body>
</html>
